<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-car-heading" data-cy="CarCreateUpdateHeading">Create or edit a Car</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_make">Make</label>
          <input type="text" class="form-control" name="make" id="field_make" data-cy="make" formControlName="make" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_model">Model</label>
          <input type="text" class="form-control" name="model" id="field_model" data-cy="model" formControlName="model" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_year">Year</label>
          <div class="input-group">
            <input
              id="field_year"
              data-cy="year"
              type="text"
              class="form-control"
              name="year"
              ngbDatepicker
              #yearDp="ngbDatepicker"
              formControlName="year"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="yearDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_driver">Driver</label>
          <select class="form-control" id="field_driver" data-cy="driver" name="driver" formControlName="driver">
            <option *ngIf="!editForm.get('driver')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="driverOption.id === editForm.get('driver')!.value?.id ? editForm.get('driver')!.value : driverOption"
              *ngFor="let driverOption of driversSharedCollection; trackBy: trackDriverById"
            >
              {{ driverOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['driver'])!.invalid && (editForm.get(['driver'])!.dirty || editForm.get(['driver'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['driver'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label for="field_passengers">Passengers</label>
          <select class="form-control" id="field_passengers" data-cy="passengers" multiple name="passengers" formControlName="passengers">
            <option
              [ngValue]="getSelectedPerson(personOption, editForm.get('passengers')!.value)"
              *ngFor="let personOption of peopleSharedCollection; trackBy: trackPersonById"
            >
              {{ personOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
